body {
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box;
}

.swiper {
    max-width: 750px;
    margin: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-image {
    aspect-ratio: 16 / 9;
}